<footer class="footer-distributed">

			<div class="footer-left">

				<h3>OneSource</h3>
        <br><br\>
        <p class="footer-company-about">
					<span>About the company</span>
					We connect students to the competitions they want.
				</p>
				
				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>
					<a href="#"><i class="fa fa-email"></i></a>

				</div>

				<p class="footer-company-name">OneSource © 2018</p>
			</div>

			<div class="footer-center-left">

				<div>
					<i class="fa fa-map-marker"></i>
					<p href="#"> Company</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>About Us</p>
				</div>
				
				<div>
					<i class="fa fa-phone"></i>
					<p>Inside OneSource</p>
				</div>
				
				<div>
					<i class="fa fa-phone"></i>
					<p>Careers</p>
				</div>
				
				<div>
					<i class="fa fa-phone"></i>
					<p>Terms and Conditions</p>
				</div>
				
				<div>
					<i class="fa fa-phone"></i>
					<p>Privacy Policy</p>
				</div>
				
			</div>
			
			<div class="footer-center-right">
			  
			  <div>
			    <i class="fa fa-sd"></i>
			    <p>Business Solutions</p>
			  </div>
			  
			  <div>
			    <i class="fa fa-sd"></i>
			    <p>For Educational Institutions</p>
			  </div>
			
			  <div>
			    <i class="fa fa-sd"></i>
			    <p>For Corporate</p>
			  </div>
			</div>
			
			<div class="footer-right">
			  
        <div>
          
          <div>
			      <i class="fa fa-sd"></i>
			      <p>Popular Competition Categories</p>
			    </div>
          
          <div>
			      <i class="fa fa-sd"></i>
			      <p>Hackathons</p>
			    </div>
			    
			    <div>
			      <i class="fa fa-sd"></i>
			      <p>Case Competitions</p>
			    </div>

          <div>
			      <i class="fa fa-sd"></i>
			      <p>Entrepreneurship</p>
			    </div>

          <div>
			      <i class="fa fa-sd"></i>
			      <p>Social</p>
			    </div>

          <div>
			      <i class="fa fa-sd"></i>
			      <p>Science</p>
			    </div>
          
        </div>
        
			</div>

		</footer>